
@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.circle-animation {
    animation: circle 5s linear infinite;
}

button {
    color:whitesmoke;
    background-color: black;
    height: 40px;
    width: 100px;
    margin: 20px;
    margin-left: 150px;
}

.big {
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: 40px;
}

.ball {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    right:-40px;
    top: 50%;
}